.bgGrid {
  background: black;
  background-image: linear-gradient(rgba(230, 230, 230, .4) .04em, transparent .04em), linear-gradient(90deg, rgba(230, 230, 230, .4) .03em, transparent .04em);
  background-size: 35px 35px;
}

.bgMask {
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 55%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 55%);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 55%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
}

.bgOverlay {
  background: rgb(0,72,255);
  background: linear-gradient(137deg, rgba(0,72,255,0) 22%, rgba(0,72,255,1) 52%, rgba(189,0,255,1) 72%, rgba(255,255,255,1) 94%);
  @apply opacity-70;
}